.introBanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../resources/Banner\ Image.png");
    width: 1320px;
    height: 600px;



}

.introSubline {
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-top: 177px;
    padding-left: 530px;
    padding-right: 530px;
    text-align: center;
}

.introHeadline {

    color: white;
    padding-right: 344px;
    padding-left: 344px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;

}

.mainSec {
margin: 0px 140px;
    
}



.offerValue {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    padding-left: 608px;
    padding-right: 607px;
}

.offerInfo {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}
